@media screen and (max-height: 300px) {
    #number_container {
        display: none!important;
    }
}

@media screen and (max-height: 500px) {

    #applet_container{
      display: none!important;
    }
}





@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('Heebo.woff2') format('woff2');
}




      body{
        font-family: 'Heebo', sans-serif;
        background-color:#000000;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-position:fixed;
        width:100%;
        overflow:hidden;
      }



      #number_container{
        width:50vw;
        height:30vh;
        padding:10px;
        margin-top:25vh;
        margin-left:25vw;
        display:block;
      }

      #time{
        text-align:center;
        display:block;
        font-size:130px;
        margin-top:-10px;
        padding:0px;
        color:#FFF;
        font-weight:700;
        text-transform:uppercase;
      }


      #date{
        text-align:center;
        font-size:40px;
        color:#fff;
        margin-bottom:0px;
        padding:0px;
        text-transform:uppercase;
      }

      #applet_container{
        display:block;
        width:80vw;
        height:30vh;
        margin-top:10vh;
        margin-left:10vw;
      }



      #chevron {
      position: fixed;
      text-align: center;
      padding: 12px;
      margin-bottom: 6px;
      margin-left:calc(45% - 270px);
      height: 70px;
      width: 370px;
      z-index:999;
    }
    #chevron:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 110px;
      width: 200px;
      background: #FFF9E6;
      transform: skew(0deg, -6deg);
      border-radius: 50% 30% 0% 50% / 90% 5% 80% 90%;
      z-index:-1;
    }
    #chevron:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 110px;
      width: 200px;
      background: #FFF9E6;
      transform: skew(0deg, 6deg);
      border-radius: 50% 30% 50% 0% / 5% 90% 80% 90%;
      z-index:-1;
    }

.dot {
  height: 45px;
  width: 45px;
  background-size: 25px 25px;
  background-position:10px 10px;
  background-repeat: no-repeat;
  font-size:20px;
  text-decoration:none;
  color:#7F7959;
  background-color: #E9E1CE;
  border-radius: 50%;
  position:fixed;
  display: inline-block;
  z-index:99999;

}
    #exit {
      margin-top:22px;
      margin-left:15px;
      padding:5px;
      font-size:15px;
      text-decoration:none;
      display: block;
      width: 70px;
      height: 23px;
      font-weight:bold;
      background-color: #F7F8E4;
      color:#7F7959;
      cursor:pointer;
      border-radius: 30% 30% 30% 30% / 80% 80% 80% 80%;
    }

    #circle {
  width: 20px;
  height: 20px;
  background: #7F7959;
  border-radius: 50%;
  margin-top:0px;
  position:fixed;
  display:block;
}

#cross {
  background:#F7F8E4;
  height: 15px;
  position: relative;
  margin-left:8px;
  margin-top:2px;
  width: 3px;
  transform: rotate(45deg);
}
#cross:after {
  background: #F7F8E4;
  content: "";
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 3px;
  transform: rotate(-90deg);
}


    #bubble {
      width: 80px;
      height: 25px;
      font-size:15px;
      padding-top:5px;
      background: #6BB9AE;
      color:#F7F8E4;
      margin-left:-15px;
      opacity:0;
      font-weight:lighter;
      margin-top:-30px;
      position: relative;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;


      -webkit-transition-duration: 1s;
      transition-duration:1s;
    }
    #bubble:before {
      content: "";
      position: absolute;
      right: 40%;
      top: 20px;
      width: 0;
      height: 0;
      transform: rotate(-90deg);
      border-top: 13px solid transparent;
      border-right: 16px solid 	#6BB9AE;
      border-bottom: 13px solid transparent;
    }

    .dot:hover #bubble{
      margin-top:-50px;
      opacity:1;

      -webkit-transition-duration: 1s;
      transition-duration:1s;
    }
